<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.TeamPlanB.ChorrSeoul">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MyFlower.MyFlowerLvUpActivity"></activity>
        <activity android:name=".GetFlowerActivity" />
        <activity android:name=".NewFlowerActivity" />
        <activity
            android:name=".BeginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyFlower.MyFlowerList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyFlower.MyFlowerHelp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyFlower.MyFlowerInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Infomation.InformationMap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Infomation.InformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <!-- 큐알 코드 -->
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>
        <!-- 큐알 코드 -->
        <!-- 네이버 API 클라이언트 ID -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="hf2ifa5p2h" />
        <!-- 네이버 API 클라이언트 ID -->
        <meta-data android:name="android.max_aspect" android:value="2.1" />
        <!-- 스플래시 화면 -->
        <activity
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 스플래시 화면 -->
    </application>

</manifest>